{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}

    <section class="mz-section mz-single-page">
        <div class="container">
            <h1>{{ controller_name }}</h1>
        </div>
    </section>
{% endblock %}
