###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/uploads/20*
/public/images/*
/public/json/
/var/
/vendor/
/.env
###< symfony/framework-bundle ###
