{% extends 'base.html.twig' %}

{% block title %}Мазик бай официальный дилер ОАО МАЗ{% endblock %}

{% block body %}
    <section class="mz-section mz-banner">
        <div class="container">
            <div class="mz-banner-block mz-row">
                <div class="mz-banner-caption">
                    <div class="mz-banner-title">
                        Запчасти МАЗ от официального дилера ОАО МАЗ - Мазик Бай
                    </div>
                    <div class="mz-banner-descr">
                        Работаем для Вас более 20 лет. Экспертная консультация и безупречный сервис. Оригинальные
                        запчасти и сертифицированные аналоги
                    </div>
                </div>
                <div class="mz-banner-cert">
                    <div class="mz-cert-background">
                        <img src="{{ asset('images/cert.webp') }}"
                             width="150" height="200" class="mz-cert" alt="">
                    </div>

                </div>

            </div>
        </div>
    </section>
    <section class="mz-section mz-cats">
        <div class="container">
            <div class="mz-section-title">Категории товаров</div>
            {{ render(controller( 'App\\Controller\\CategoriesTemplateController::index'), {}) }}
        </div>
    </section>
    <section class="mz-section mz-cats">
        <div class="container">
            <div class="mz-section-title">Брэнды</div>
            {{ render(controller( 'App\\Controller\\CategoriesTemplateController::brands'), {}) }}
        </div>
    </section>
    <section class="mz-section mz-products">
        <div class="container">
            <div class="mz-section-title">
                Каталог товаров
            </div>
            <div class="mz-row mz-products-row">
                {% for product in products %}
                    {% include 'partial/product.html.twig' with {'product' : product} %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
