{% extends 'admin/base-admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1 class="admin-page-heading">Создать новый товар</h1>
    <form action="" class="admin-form">
        <div class="mz-input-group">
            <label for="">Название товара</label>
            <input type="text" class = "mz-input" name="name" placeholder="Название товара">
        </div>
        <div class="mz-input-group">
            <label for="">Ссылка</label>
            <input type="text"  class = "mz-input" name="slug" placeholder="Ссылка">
        </div>
        <div class="mz-input-group">
            <label for="">Уникальный номер</label>
            <input type="text"  class = "mz-input" name="sku" placeholder="Уникальный номер (SKU)">
        </div>
        <div class="mz-input-group">
            <label for="">Каталожный номер</label>
            <input type="text"  class = "mz-input" name="article" placeholder="Каталожный номер">
        </div>
        <div class="mz-input-group">
            <label for="">Цена</label>
            <input type="text"  class = "mz-input" name="price" placeholder="Цена">
        </div>
        <div class="mz-input-group">
            <label for="">Контент</label>
            <textarea name="content"  class = "mz-input" id="" cols="30" rows="10" placeholder="Контент"></textarea>
        </div>
    </form>

{% endblock %}
